.center {
  text-align: center;
}

.hidden {
  visibility: hidden;
}

@mixin box-shadow($color) {
  -moz-box-shadow: 0 0 10px $color;
  -webkit-box-shadow: 0 0 10px $color;
  box-shadow: 0 0 10px $color;
}