/**
 * This adds a solid black border to elements, which
 * comes in handy for wireframing a site.
 */
.wireframe () {
  border: 2px solid black;
}

.clearfix () {
  &:before,
  &:after {
    content: " ";
    /**
     * Using table as the display property makes the element contain
     * the top margins of it's floated children.
     */
    display: table;
  }
  &:after {
    clear: both;
  }
}

/**
 * Center element within parent element
 */
.center-block () {
  display: block;
  margin: 0 auto;
}

/**
 * Make list of columns
 */
.makeColumns(@size, @gutter) {
  @start: 1;
  @end: @grid-columns + 1;
  @gutter-width: percentage(@gutter/100);

  .makeCol(@i) when (@i < @end) {
    .col.@{size}-@{i} {
      width: percentage((((@i / @grid-columns) * 100) - @gutter) / 100);
      margin-left: @gutter-width;
      &:last-child { margin-right: 0; }
    }
    .makeCol((@i + 1));
  }

  .makeCol(@start);
}