/******************
 * Colors
 ******************/
@black: rgba(0, 0, 0, 1);
@white: rgba(255, 255, 255, 1);
@orange: rgba(255, 130, 61, 1);
@facebook-blue: rgba(56, 81, 136, 1);
@twitter-blue: rgba(127, 193, 234, 1);
@light-grey: rgba(244, 244, 244, 1);
@dark-grey-blue: rgba(44, 47, 62,1);

/******************
 * Fonts
 ******************/
@helvetica: "Helvetica Neue", Helvetica, sans-serif;

/******************
 * Breakpoints
 ******************/
@phone-min-width:     20rem;   //  320px
@phone-max-width:     30rem;   //  480px
@tablet-min-width:    48rem;   //  768px
@tablet-max-width:    64rem;   // 1024px
@desktop-width:       76.5rem; // 1224px
@large-screen-width: 114rem;   // 1824px

/******************
 * Styles
 ******************/
@main-link-color: @black;
@menu-background: @white;
@menu-text-color: @black;
@menu-column-background: @white;
@menu-link-color: @black;
@menu-column-hover-background: @white;
@menu-link-hover-color: @black;

/******************
 * Widths
 ******************/
@ten:            9.98%;
@twenty:        19.98%;
@twenty-five:   24.98%;
@thirty:        29.98%;
@thirty-three:  33.33%;
@fourty:        40.00%;
@fifty:         49.98%;
@sixty:         59.98%;
@sixty-six:     66.66%;
@seventy:       69.96%;
@seventy-five:  74.98%;
@eighty:        79.98%;
@ninety:        89.98%;
@hundred:       99.98%;

/******************
 * The Grid
 ******************/
@grid-columns: 24;