/******************
 * Colors
 ******************/
@black: rgba(0, 0, 0, 1);
@white: rgba(255, 255, 255, 1);
@orange: rgba(255, 130, 61, 1);
@facebook-blue: rgba(56, 81, 136, 1);
@twitter-blue: rgba(127, 193, 234, 1);
@light-grey: rgba(244, 244, 244, 1);
@dark-grey-blue: rgba(44, 47, 62,1);

/******************
 * Fonts
 ******************/
@helvetica: "Helvetica Neue", Helvetica, sans-serif;

/******************
 * Breakpoints
 ******************/
@phone-min-width: 20rem;
@phone-max-width: 30rem;
@ipad-min-width: 48rem;
@ipad-max-width: 64rem;
@desktop-width: 76.5rem;
@large-screen-width: 114rem;

/******************
 * Styles
 ******************/
@menu-background: @white;
@menu-text-color: @black;
@menu-column-background: @white;
@menu-link-color: @black;
@menu-column-hover-background: @white;
@menu-link-hover-color: @black;
