
link(rel='stylesheet',href='/styles/front_page.css')

.front_page.big_box
  h1.center
    | reDesign
    br
  h2.center
    | Bringing Websites To v2.0

.nytimes.big_box
  .logo
    img(src='/images/nytimes.gif')
    .date Sunday, November 10, 2013

  .left_column
    .top_news Top News
    .story
      h1 Mr.Meowingtons Strikes Again
      p blah blah blah blah
    .story
      h1 Mr.Meowingtons Strikes Again
      p blah blah blah blah
    .story
      h1 Mr.Meowingtons Strikes Again
      p blah blah blah blah
    .story
      h1 Mr.Meowingtons Strikes Again
      p blah blah blah blah
    .story
      h1 Mr.Meowingtons Strikes Again
      p blah blah blah blah
    .story
      h1 Mr.Meowingtons Strikes Again
      p blah blah blah blah

  .photo_slide
    img(src='http://www.digitalmusicinsider.com/wp-content/uploads/2011/03/nytimes11.jpg')

  .right_column

.dashboard.big_box
  .events
    .header
      | Events
    .event
      | Serpentine Gallery
    .event

  .event_body
    .title Serpentine Gallery
    .image
      img(src='http://static.flickr.com/110/292204020_3dca26de46_o.jpg')
    .info
      | Notes about the event
