.big_box {
  margin: 2% auto;
  width: 98%;
  height: 96%; }

.front_page {
  background-color: rgba(0, 0, 0, 0.85);
  padding-top: 2%;
  color: white;
  font-family: 'Snippet', cursive; }
  .front_page h1 {
    font-size: 6em; }

.nytimes {
  position: relative;
  border: 5px solid black; }
  .nytimes .logo {
    width: 30%;
    height: 5%;
    margin-top: 1%;
    margin-left: 2%; }
    .nytimes .logo img {
      width: 100%; }
    .nytimes .logo .date {
      text-align: center; }
  .nytimes .left_column {
    float: left;
    margin-top: 5%;
    height: 83.7%;
    width: 29.65%;
    overflow: auto;
    position: relative; }
    .nytimes .left_column .top_news {
      height: 10%;
      width: 100%;
      position: fixed;
      margin: 1% 0 2% 0;
      font-size: 2em;
      text-align: center;
      padding: 1% 0 1% 0;
      background-color: black;
      color: white; }
    .nytimes .left_column .story {
      height: 20%;
      width: 96%;
      padding: 10% 2% 5% 2%; }
      .nytimes .left_column .story h1 {
        text-align: left;
        font-size: 1.3em; }
      .nytimes .left_column .story p {
        margin-top: 5%;
        font-size: 1.15em; }
      .nytimes .left_column .story:hover {
        background-color: rgba(0, 0, 0, 0.8);
        color: white; }
  .nytimes .photo_slide {
    float: left;
    margin-top: 5%;
    padding-top: 2%;
    height: 80.5%;
    width: 40%;
    overflow: auto;
    text-align: center; }
    .nytimes .photo_slide img {
      width: 95%; }
  .nytimes .right_column {
    float: left;
    margin-top: 5%;
    padding-top: 2%;
    height: 80.5%;
    width: 30%;
    overflow: auto;
    text-align: center; }
    .nytimes .right_column img {
      width: 95%; }

.serpentine {
  position: relative;
  background-color: white;
  border: 5px solid rgba(236, 2, 128, 0.85); }
