/**
 * Enable border-box box-sizing. This will contain the padding and border
 * within the set width of an element. The margin will be outside the width.
 */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/**
 * Kill margins added in Webkit browers
 */
* {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

/* Small screens (default) */
html {
	font-size: 100%;
	height: 100%;
	position: relative;
}

body {
	position: absolute; top: 0; left: 0;
	height: 100%; width: 100%;
	/* Set letter spacing for better readability */
	letter-spacing: 0.05rem;
	/* Set font style */
	font: @helvetica;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
	*zoom: 1;
}

/* Set style for page parent container */
#container {
	margin: 0 auto;
	padding: 4rem 1rem 0;
	width: 100%; height: 100%;
}

/* Remove decoration from links */
a {
	text-decoration: none;
}
