/*
  Styles for an element that will contain a inline row of
  elements.
 */
.row {
  margin:  0;
  padding: 0 1%;
  width:   100%;
}

/*
  Basic column styles. Column sizes can be found in their
  respective breakpoint files
 */
.col {
  display: inline-block;
  padding: 0 1%;
  &:first-child { padding-left: 0; }
  &:last-child { padding-right: 0; }
}

/* Widths */
.full { width: 100%; }
.two-thirds { width: 66.7%; }
.half { width: 50%; }
.third { width: 33.3%; }
.fourth { width: 24.95%; }
