/* Relative positon */
.relative {
	position: relative;
}

/* Fixed position */
.top-left {
	position: fixed;
	top: 0;
	left: 0;
}

/* Float element left */
.left {
	float: left;
}

/* Float element right */
.right {
	float: right;
}

/* Center element */
.center {
	margin: 0 auto;
}