/* Display */
.block { display: block; }
.inline { display: inline-block; }

/* Position */
.rel { position: relative; }
.fix { position: fixed; }
.abs { position: absolute; }
.t-r { top: 0; right: 0; }
.t-l { top: 0; left: 0; }
.b-r { bottom: 0; right: 0; }
.b-r { bottom: 0; left: 0; }

/* Floating */
.float-l { float: left; }
.float-r { float: right; }

/** Centering **/
.center { margin: 0 auto; }
.v-center { vertical-align: middle; }
.center-text { text-align: center; }

/** Padding **/
.no-pad { padding: 0; }
.no-t-pad { padding-top: 0; }
.no-b-pad { padding-bottom: 0; }
.no-l-pad { padding-left: 0; }
.no-r-pad { padding-right: 0; }
.no-h-pad { .no-l-pad; .no-r-pad; }
.no-v-pad { .no-t-pad; .no-b-pad; }
