.brand reDESIGN

.navbox
  //- .nav-button
  //-   a(href='#') Link
  //- .nav-button
  //-   a(href='#') Link
  .nav-button
    a(href='#') About
  //- .nav-seperator
  .nav-button
    a(href='#') Sign In

  //- input.right.search(type='text', placeholder=' Search')